:root{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    --prm-btn: #E02C6D;
    --font: #3A3A3A;
    --pn-font-color:#18191F;
    --pr-font-color:rgba(0, 0, 0, 0.87);
    --des-font-color:#787885;
    --scd-font:'Inter', sans-serif;
}
/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* for all list */
li{
    list-style-type: none;
}
/* for all link */
a{
    text-decoration: none;
}
/*  for small screen */
.for-small{
    display: none;
}
/* for large screen */
.for-large{
    display: block;
}
/* header section */
header{
    width: 82.5%;
    margin: auto;
}
/* navigation bar */
#navbar{
    padding-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#brand{
color: var(--font);
font-size: 2.4rem;
font-weight: 700;
}
#links{
    display: flex;
    gap: 3.4rem;
}
#links-url{
    display: flex;
    gap: 3.4rem;
    color: var(--font);
    font-size: 1.6rem;
    font-weight: 600; 
    }
i{
    font-size: 2rem;
}

/* banner section */
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
}
#banner-desc{
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
#banner-desc h1{
    color: var(--font);
    font-size: 5.2rem ;
    font-weight: 700;
}
#banner-desc p{
    color: var(--font);
    font-size: 1.6rem;
    font-weight: 600;
}
#banner-desc button{
    padding: 1rem 4.8rem;
    background-color: var(--prm-btn);
    border: none;
    border-radius: 4rem;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 700;
}
#banner-image{
    width: 40%;
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#banner-image img{
    width: 85%;
}

/* -----------------------Company logo section---------------------------- */
#company-logo{
    width: 75%;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

#company-logo img{
    width: 100%;
}
/* ------------------------Our Product------------------- */
#product{
    width: 75%;
    margin: auto;
}
#product h1{
    color:var(--font);
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4rem;
}
#product p{
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1.6rem;
    font-weight: 700;

}
#container{
    background-color: #F1E4FF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
#container>section{
    background-color: #FFF;
    padding: 1rem;
}
#container>section:hover{
    border: 3px solid gray;
}
#container img{
    width: 100%;
}
#container h1{
    font-family: var(--scd-font);
    color:var(--pn-font-color);
    font-size: 2.8rem;
    font-weight: 500;
}
#container h2{
    font-family: var(--scd-font);
    color:var(--pr-font-color);
    font-size: 2.4rem;
    font-weight: 400;
}
#container p{
    font-family: var(--scd-font);
    color:var(--des-font-color);
    font-size: 1.4rem;
    font-weight: 700;
}

/* responsive for mobile device (device-width:572) */
@media screen and (max-width:576px) {
    /* common style */
    .for-small{
        display: block;
    }
    .for-large{
        display: none;
    }
    /* header section */
    header{
        width: 100%;
    }
    /* navigation bar */
    #navbar{
        padding-top: 4rem;
    }
    #links-url{
        display: none;
    }
    i{
        font-size: 4rem;
    }
    
    #brand{
    font-size: 4rem;
    }
    /* banner section */
    #banner{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 1rem;
        gap: 1rem;
    }
    /* banner description */
    #banner-desc{
        width: 100%;
        gap: 1.5rem;
        align-items: center;
    }
    #banner-desc h1{
        text-align: center;
        font-size: 2.8rem ;
    }
    #banner-desc p{
        text-align: center;
        font-size: 1.6rem;
    }
    #banner-desc button{
        padding: 1rem 4.8rem;
        background-color: var(--prm-btn);
        border: none;
        border-radius: 4rem;
        color: #FFF;
        font-size: 1.6rem;
        font-weight: 700;
    }
    /* banner image */
    #banner-image{
        width: 70%;
        margin: auto;
        background-size: cover;
    }
    #banner-image img{
        width: 100%;
    }
    /* -------------------------------company logo -------------------- */
    #company-logo{
        grid-template-columns: repeat(4,1fr);
        gap: 3rem;
    }
    /* ---------------------------Product section */
    #product{
        width: 90%;
    }
    #container{
        grid-template-columns: 1fr;
    }
}